@import 'config';
/* 全局 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;
}

html,body{
    height: 100%;
    background-color: #f5f5f5;
}
body {
    font-family: $defaultFontFamily !important;
    font-size: $defaultFontSize !important;
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #333;
}
a:link{
   text-decoration:none; 
}
textarea{
    resize:none;
}
div,table{
    outline:none;
  }
/* 清除浮动 */
.clear-fix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
// border样式设置

.scale-1px{
    position: relative;
    border:none;
  }
.scale-1px:after{
    content: '';
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* 滚动条背景基本样式 MOZ*/
scrollbar {
    -moz-appearance: none !important;
    background-color: transparent !important; /* 滚动条背景透明 */
    background-image: none !important; /* 滚动条背景图案不显示 */
    position: relative !important; /* 更改滚动条的定位方式为相对 */
    overflow: hidden !important;
    z-index: 999999999 !important; /* 把滚动条提到Z轴最上层 */
}

scrollbar[orient="vertical"] {
    margin-left: -5px !important;
    min-width: 5px !important;
    max-width: 5px !important;
}

/* 滚动条按钮基本样式 */
scrollbar thumb {
    -moz-appearance: none !important;
    background-color: rgba(0, 100, 255, .25) !important;
    border-radius: 0px !important;
    border: 1px !important; /* 滚动条按钮边框 */
    border-color: rgba(0, 100, 255, .1) !important; /* 滚动条按钮边框颜色和透明度 */
}

/* 滚动条按钮:鼠标悬停与点击拖动时基本样式 */
scrollbar:hover thumb,
scrollbar thumb:hover,
scrollbar thumb:active {
    background-color: rgba(0, 100, 255, .75) !important;
    border: 0px !important;
}
//滚动条样式结束